*{
    margin:0;
    padding:0;
}
img{
    border:0;
}
a{
    text-decoration: none;
    color:black;
}
ol,ul,li{list-style:none;}
#max{
    width:100%;
    height:100%;
    min-width:1000px;
    margin:0 auto;
    background-color: #f0f0f0;
}
#top{
    width: 100%;
    height: 179px;
    min-width: 1000px;
    margin: 0 auto;
    background-image:url(../images/i.png);
    position:relative;
}
.top-1{
    width: 1000px;
    height: 179px;
    background-image:url(../images/index1_02.png) ;
    margin: 0 auto;
}
.top-1 ul{
    overflow: hidden;
}
.top-1 li{
    float: left;
    margin: 0 auto;
    margin-right:30px;
    width:72px;

}
.top-1 li a{
    color:black;
}
.top-1 li p{
    font-size:12px;
    color:#B3b3b3;
    margin-left:15px;
}
.top-1 li a:hover{
    color:red;
}
.top-1 li p:hover{
    color:black;
}
#cen{
    width:100%;
    height:465px;
    background-image:url(../images/index2_02.png) ;
    position: relative;
    background-position:center;
}
#ul{
    float:left;
    margin-left: 77px;
    margin-top: 20px;
}
.cen-1{
    width:1000px;
    height:34px;
    position:absolute;
    bottom: 0;
    left:50%;
    margin-left:-500px;
    color:white;
}
.cen-1 ul li{
    width:210px;
    height:34px;
    float:left;
    margin-left:9px;
    font-size: 15px;
    text-align:center;
    background:black;
    line-height: 34px;
    transition:.6s;
}
.cen-1 ul li a{
    color:white;

}
.cen-1 ul li:hover{
    background-color: red;
}
.cen-1 div{
    border:1px;
    float:left;
}
#left{
    width:57px;
    height:34px;
    background:url(../images/arr.png);
    background-repeat:no-repeat;
    margin-left:0px;
    transition:.6s;
}
#left:hover{
    background-position:0px -34px;

}
#right{
    width:57px;
    height:34px;
    background:url(../images/arr.png);
    background-repeat:no-repeat;
    background-position:-57px 0;
    transition:.6s;
}
#right:hover{
    background-position:-57px -34px;

}
.cen2{
   width:1000px;
    height:98px;
    margin:0 auto;
    position:relative;
    margin-top:2px;
}
.cen1-1{
    width:258px;
    height:98px;
    position:absolute;
    background-image:url(../images/index7_03.png);
}
.cen1-2{
    width:185px;
    height:98px;
    position:absolute;
    left:258px;
    background-image:url(../images/index7_05.png);
}
.cen1-3{
    width:184px;
    height:98px;
    position:absolute;
    margin-left:443px;
    background-image:url(../images/index7_07.png);
    overflow:hidden;
}
.c1{
    width:41px;
    height:41px;
    border-radius: 100%;
    margin-left:27px;
    margin-top:46px;
    float:left;
}
.c2{
    width:41px;
    height:41px;
    border-radius: 100%;
    margin-left:1px;
    margin-top:46px;
    float:left;
}
.c3{
    width:41px;
    height:41px;
    border-radius: 100%;
    margin-left:2px;
    margin-top:46px;
    float:left;
}
.cen1-4{
    width:372px;
    height:98px;
    margin-left:627px;
    position:absolute;
    background-image:url(../images/index7_09.png);
}
#center{
    width:1000px;
    height:1000px;
    margin:10px auto;
    background-image:url(../images/product_03.png);
    position:relative;
}
#center>span{
    position:absolute;
    margin:10px auto;
    left:10px;
}
.leftt{
    position:absolute;
    width:291px;
    height:1151px;
    top:38px;
    left:10px;
}
.log{
    width:291px;
    height:33px;
    margin-top:10px;
    background:url(../images/libg10.gif) no-repeat;
    background-color:#616161;
}
.log p{
    line-height:33px;
    margin-left:40px;
    color:#979797;
}
.log:hover,.log:hover p{
    color:white;
    background-color:red;
}
.ull ul{
    margin-top:20px;
    text-align:center;
    font-size:13px;
}
.ull ul li:hover{
    color:red;
}
.leftt1{
    width:291px;
    height:50px;
    border-bottom:1px dashed;
    overflow:hidden;
    font-size:13px;
    line-height:20px;
}
.csss1{
    width:290px;
    height:75px;
    float:left;
    margin-top:10px;
}
.csss1 p{
    line-height:20px;
}
 .leftt1:hover div{

    -webkit-transform: scale(1.1,1.1);
       -moz-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
         -o-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
    background:url(../images/libg11.gif) no-repeat;
    color:red;
}
.leftt1:hover p{
    margin-left:70px;
}
.end{
    width:291px;
    height:300px;
    position:absolute;
    top:740px;

}
.end1{
    width:291px;
    height:71px;
    overflow:hidden;
    position:relative;
    margin-top:2px;
}
.end p{
    width:138px;
    font-size:13px;
}
.end1-1{
    position:absolute;
    right:0px;
    top:0;
    float:right;
    width:141px;
    height:71px;
    background:url(../images/libg14.gif);
    background-position:141px -71px;
}
.san{
    width:12px;
    height:24px;
    position:absolute;
    left:138px;
    top:25px;
    background:url(../images/libg8.gif) no-repeat;
    background-position:0 0;
}
.end1-1>span{
    left:15px;
    top:26px;
    font-size:25px;
    position:absolute;
    color:gray;
}
.end1:hover .end1-1,.end1:hover .end1-1>span{
    background-position:141px 0px;
    color:white;
}
.end1:hover .san{
    background-position:0 -24px;
}
.end1:hover .end1-1>p{
    color:white;
}
.end1:hover p{
    color:red;
}
.rightt{
    width: 670px;
    height: 900px;
    position: absolute;
    left: 330px;
    top: 115px;
}
.r1{
    width:319px;
    height:300px;
    position: relative;
    color: ;
    font-size: 13px;
}
.r11{
    width: 319px;
    height: 200px;
    background-image: url('../images/product_03 (2).png');
}
.r12{
    width: 319px;
    height: 30px;
    margin-top: 30px;
    background-color: gray;
}
.r12 p{
    margin-top: 0;
    margin-left: 10px;
    font-size: 13px;
    line-height: 30px;
}
.r span div{
    width: 319px;
    height: 20px;
    position: relative;
}
.r span div>a{
    font-size: 13px;
    right:0px;
    position: absolute;
}
.r{
    width: 319px;
    height: 3px;
    position: relative;
}
.r>span{
    position: absolute;
    top: 30px;

}
.r:hover,.r:hover a{
    color: red;
}
.r:hover .r12{
    background-color: orange;
}
.r11:hover{
    transition: .5s;
    transform: translate(-10px, 10px);
}
.r2{
    width:319px;
    height:300px;
    position:absolute;
    top: 0;
    right: 0;
    color: ;
    font-size: 13px;
}
.r3{
    width:319px;
    height:300px;
    position:absolute;
    top: 303px;
    left: 0;
    color: ;
    font-size: 13px;
}
.r4{
    width:319px;
    height:300px;
    position:absolute;
    top: 303px;
    right: 0;
    color: ;
    font-size: 13px;
}
.r5{
    width:319px;
    height:300px;
    position:absolute;
    top: 605px;
    left: 0;
    color: ;
    font-size: 13px;
}

.r6{
    width:319px;
    height:300px;
    position:absolute;
    top: 605px;
    right: 0;
    color: ;
    font-size: 13px;
}
.bottom{
    width:100%;
    height:250px;
    margin:0 auto;
    position:relative;
    background:url(../images/index222_02.png);
    overflow:hidden;
    background-position:center;
}
.p{
    width:150px;
    margin-top:139px;
    height:20px;
    position:absolute;
    left:50%;
    margin-left:-382px;
    color:gray;
    line-height:41px;
    font-size:12px;
}
.bottom1{
    position:absolute;
    left:50%;
    margin-left:-200px;
    top:15px;
    float:left;

}
.bottom1 ul li{
    margin-top:2px;
}
.bottom2{
    position:absolute;
    left:50%;
    margin-left:0px;
    top:15px;
    float:left;
}
.bottom2 ul li{
    margin-top:2px;
}
.bottom3{
    position:absolute;
    left:50%;
    margin-left:200px;
    top:15px;
    float:left;
}
.bottom3 ul li{
    margin-top:2px;
}
.bottom4{
    position:absolute;
    left:50%;
    margin-left:400px;
    top:15px;
    float:left;
}
.bottom4 ul li{
    margin-top:2px;
}
.bottom5{
    position:absolute;
    left:50%;
    margin-left:-200px;
    top:130px;
}
.bottom5 ul li{
    margin-top:2px;
}
.bottom6{
    position:absolute;
    left:50%;
    margin-left:0px;
    top:130px;
    float:left;
}
.bottom6 ul li{
    margin-top:2px;
}

.bottom1 B,.bottom2 B,.bottom3 B,.bottom4 B,.bottom5 B,.bottom6 B{
    display:block;
    color:white;
    width:140px;
    font-size:20px;
    line-height:20px;
    background-color:black;
}
.bottom1 ul li,.bottom2 ul li,.bottom3 ul li,.bottom4 ul li,.bottom5 ul li,.bottom6 ul li{
    list-style-type:disc;
    list-style-position:inside;
    color:#D2D2D2;
    width:140px;
    height:20px;

    font-size: 13px;
    line-height: 20px;
}
.bottom1 ul li:hover,.bottom1:hover B,.bottom2 ul li:hover,.bottom2:hover B,.bottom3 ul li:hover,.bottom3:hover B,.bottom4 ul li:hover,.bottom4:hover B,.bottom5 ul li:hover,.bottom5:hover B,.bottom6 ul li:hover,.bottom6:hover B{
    background-color:gray;
}
.bot{
    width:100%;
    height:112px;
    background-image:url(../images/index9_02.png);
    background-position:center;
}
.bot2{
    width:100%;
    height:75px;
    background-color:#1f1f1f;
    background-position:center;
}
.bot2 p{
    padding-top:20px;
    color:gray;
    font-size:13px;
    text-align:center;
}
.bot3{
    width:100%;
    height:112px;
    background-color:black;
    background-position:center;
    position:relative;
}
.bot3 a{
    position:absolute;
    color:white;
    margin-left:50%;
    left:-500px;
    top:20px;
}